<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
    <div class="container">
        <div class="mt-5">
            <div class="text-center hero my-5">
                <h1 class="mb-4">Building a Scalable Auth System: OAuth2, Spring Boot, and Redis</h1>
                <p class="lead">
                    Welcome to this project, a Spring Boot web application that integrates OAuth2 authentication using Okta/Auth0 and securely manages user sessions with Redis. This project demonstrates how to implement secure user authentication, handle session persistence, and ensure a smooth login/logout experience.
                </p>
                

            </div>



    </div>
</div>

</html>